**split()**

In [ ]:
text = "Hello dear friends"

In [ ]:
text = "For testing parameter: Londra, Prag, Canada, Beyrut, Isfahan, Phuket, Tokyo"

In [5]:
countries = "Türkiye, Singapur, Malezya, Lübnan, Kanada, Portekiz, Japonya"
country = countries.split(",", 4)
print(*country, sep="\n")

Türkiye
 Singapur
 Malezya
 Lübnan
 Kanada, Portekiz, Japonya

In [7]:
text = "ahmetahmet"
print(*text, sep="\n")

a
h
m
e
t
a
h
m
e
t

In [8]:
# cümledeki en kısa kelime nedir ve kaç karakterden oluşuyor.
text = " soru cozumuyle kodlama becerim gelisiyor."
a = text.split()
print(min(a, key=len))

soru

**map()**

In [9]:
list1 = [1,2,3,4,5]

list2 = list(map(float, list1))  c# bir listede her elemana tek tek ulasmak icin map kullanilir
print(list2)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [12]:
def discount(x):
    return x-((x*20)/100)
    
price = [15.2, 17, 10, 22.9, 16.5, 7.7, 11]
new_price = list(map(discount , price))
print(new_price)

[12.16, 13.6, 8.0, 18.32, 13.2, 6.16, 8.8]

**zip()**

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["a","b","c","d","e"]

In [ ]:
list1 = [1,2,3]
list2 = ["a","b","c","d","e"]

Q-1) Verilen listeden {id:name} olacak şekilde dict oluşturunuz.

*   test_list = ["Ali", 1, "Veli", 2, "Osman", 3, "Ahmet", 4] 
*   output : {1: 'Ali', 2: 'Veli', 3: 'Osman', 4: 'Ahmet'}

Q-2) Kullanıcıdan alınan 5 sayı içerisinden en büyük 2. sayıyı bulan kodu yazınız.

*   map() ve split() kullanalım.

Q-3) Kullanıcıdan alınan değer kadar numbers listesinin elemanlarını sağa kaydıran kodu yazınız.

*   numbers = [2,3,5,7,11,44,34]

Q-4) Kullanıcıdan alınan sayının negatif veya pozitif olduğunu bulan kodu yazınız.

Q-5) Kullanıcıdan 2 değer ve işlemi alıp sonucunu döndüren basit bir hesap makinesi programı yazınız.

*   "1" Toplama
*   "2" Çıkarma
*   "3" Çarpma
*   "4" Bölme

Q-6) E-mail ve parola bilgileri ile giriş kontrolü yapan programı yazınız.


*   email = 'D999@clarusway.com'
*   pswrd = 'd999'

Q-7) Kullanıcıdan alınan boy ve kilo değerlerine göre beden kitle indeksini hesaplayın ve şu kurallara göre ekrana şu yazıları yazdırın.
     
     BKİ 18.5'un altındaysa -------> Zayıf
     
     BKİ 18.5 ile 25 arasındaysa ------> Normal
     
     BKİ 25 ile 30 arasındaysa --------> Fazla Kilolu
     
     BKİ 30'un üstündeyse -------------> Obez

Not: Beden Kitle İndeksi: Kilo / Boy(m) *  Boy(m)

Q-8) Kullanıcıdan alınan 3 sayıdan en büyüğünü bulan kodu yazınız.